# theme = "gruvbox_light_hard"
theme = "catppuccin_mocha"
[editor]
bufferline = "multiple"
cursorline = true
color-modes = true
true-color = true

# copilot
inline-completion-timeout = 150

# Minimum severity to show a diagnostic after the end of a line
end-of-line-diagnostics = "hint"

[editor.inline-diagnostics]
cursor-line = "error" # Show inline diagnostics when the cursor is on the line
other-lines = "disable" # Don't expand diagnostics unless the cursor is on the line

[editor.auto-pairs]
"(" = ")"
"[" = "]"
"{" = "}"

[editor.cursor-shape]
insert = "bar"
normal = "block"
select = "underline"

[editor.file-picker]
hidden = false
git-ignore = true

[editor.indent-guides]
render = true

[editor.statusline]
left = ["mode", "version-control", "file-name", "spinner"]

[keys.insert]
A-tab = "inline_completion_accept"
C-e = "inline_completion_dismiss"

[keys.normal]
H = "goto_previous_buffer"
L = "goto_next_buffer"

A-q = ":reflow"

C-y = [
  ':sh rm -f /tmp/unique-file',
  ':insert-output yazi %{buffer_name} --chooser-file=/tmp/unique-file',
  ':insert-output echo "\x1b[?1049h\x1b[?2004h" > /dev/tty',
  ':open %sh{cat /tmp/unique-file}',
  ':redraw',
]

[keys.normal.space]
"," = "buffer_picker"
space = "file_picker"
f = "file_picker_in_current_buffer_directory"
i = ":toggle lsp.display-inlay-hints"
m = ":lsp-workspace-command open-preview"

[keys.normal.space.b]
b = "buffer_picker"
R = ":reload-all"
d = ":buffer-close"
k = ":buffer-close!"
o = ":buffer-close-others"
r = ":reload"

[keys.normal.space.g]
# inline blame
b = ":run-shell-command ~/.config/helix/utils/blame_line_pretty.sh %{buffer_name} %{cursor_line}"
f = "changed_file_picker"
g = [
    ":write-all",
    ":new",
    ":insert-output lazygit",
    ":set mouse false", # First disable mouse to hint helix into activating it
    ":set mouse true",
    ":buffer-close!",
    ":redraw",
    ":reload-all"
]
