[[language]]
auto-format = true
name = "bash"
language-servers = [ "bash-language-server", "copilot" ]

[language.formatter]
args = ["-i", "2", "-ci", "-bn"]
command = "shfmt"

[[language]]
name = "css"
formatter = { command = 'prettier', args = ["--parser", "css"] }

[[language]]
name = "go"
auto-format = true
language-servers = [ "gopls", "golangci-lint-lsp", "copilot" ]

[language.formatter]
command = "goimports"

[language-server.golangci-lint-lsp]
command = "golangci-lint-langserver"

[language-server.golangci-lint-lsp.config]
command = ["golangci-lint", "run", "--output.json.path", "stdout", "--show-stats=false", "--issues-exit-code=1"]

[[language]]
name = "gotmpl"
file-types = ["tmpl"]

[[language]]
name = "html"
formatter = { command = 'prettier', args = ["--parser", "html"] }

[[language]]
name = "javascript"
formatter = { command = 'prettier', args = ["--parser", "typescript"] }
auto-format = true

[[language]]
name = "json"
formatter = { command = 'prettier', args = ["--parser", "json"] }

[[language]]
name = "markdown"
auto-format = true
language-servers = ["marksman", "mpls", "copilot"]

[language.formatter]
command = "prettier"
args = ["--parser", "markdown", "--prose-wrap", "always" ]

[language-server.mpls]
command = "mpls"
args = ["--no-auto", "--dark-mode", "--enable-emoji", "--enable-footnotes"]

[[language]]
name = "nix"
auto-format = true

[language.formatter]
command = "nixfmt"

[[language]]
name = "python"
auto-format = true
language-servers = ["ty", "ruff", "copilot"]

[language.formatter]
command = "sh"
args = ["-c", "uvx ruff check --fix --select I - | uvx ruff format -"]

[language-server.ty]
command = "uvx"
args = ["ty", "server"]

[language-server.ty.config]
ty.experimental.rename = true

[language-server.ruff]
command = "uvx"
args = ["ruff", "server"]

[[language]]
name = "rego"
file-types = ["rego"]
language-servers = [ { name = "regal" } ]

[language-server.regal]
command = "regal"
args = ["language-server"]
config = { provideFormatter = true }

[[language]]
name = "yaml"
auto-format = true
language-servers = [ "yaml-language-server", "copilot" ]

[language.formatter]
args = ["-"]
command = "yamlfmt"

[language-server.vale]
command = "vale-ls"

[language-server.copilot]
command = "copilot-language-server"
args = ["--stdio"]

[language-server.copilot.config]
editorInfo = { name = "Helix", version = "25.01" }
editorPluginInfo = { name = "helix-copilot", version = "0.1.0" }
github-enterprise = { uri = "https://dnb.ghe.com" }
