[[language]]
auto-format = true
name = "bash"

[language.formatter]
args = ["-i", "2", "-ci", "-bn"]
command = "shfmt"

[[language]]
name = "css"
formatter = { command = 'prettier', args = ["--parser", "css"] }

[[language]]
name = "go"
auto-format = true
language-servers = [ "gopls", "golangci-lint-lsp" ]

[language.formatter]
command = "goimports"

[language-server.golangci-lint-lsp]
command = "golangci-lint-langserver"

[language-server.golangci-lint-lsp.config]
command = ["golangci-lint", "run", "--output.json.path", "stdout", "--show-stats=false", "--issues-exit-code=1"]

[[language]]
name = "gotmpl"
file-types = ["tmpl"]

[[language]]
name = "html"
formatter = { command = 'prettier', args = ["--parser", "html"] }

[[language]]
name = "javascript"
formatter = { command = 'prettier', args = ["--parser", "typescript"] }
auto-format = true

[[language]]
name = "json"
formatter = { command = 'prettier', args = ["--parser", "json"] }

[[language]]
name = "markdown"
auto-format = true
language-servers = ["marksman", "mpls"]

[language.formatter]
command = "prettier"
args = ["--parser", "markdown", "--prose-wrap", "always" ]

[language-server.mpls]
command = "mpls"
args = ["--no-auto", "--dark-mode", "--enable-emoji", "--enable-footnotes", "--plantuml-server", "localhost:8080", "--plantuml-path", "/", "--plantuml-disable-tls"]

[[language]]
name = "nix"
auto-format = true

[language.formatter]
command = "nixfmt"

[[language]]
name = "python"
auto-format = true
language-servers = ["pyright", "ruff"]

[language.formatter]
args = ["--line-length", "88", "--quiet", "-"]
command = "black"

[language-server.pyright.config.python.analysis]
typeCheckingMode = "basic"

[language-server.ruff]
command = "ruff-lsp"

[language-server.ruff.config.settings]
args = ["--ignore", "E501"]

[[language]]
name = "rego"
file-types = ["rego"]
language-servers = [ { name = "regal" } ]

[language-server.regal]
command = "regal"
args = ["language-server"]
config = { provideFormatter = true }

[[language]]
name = "yaml"
auto-format = true

[language.formatter]
args = ["-"]
command = "yamlfmt"

[language-server.vale]
command = "vale-ls"
