* {
  border: none;
  border-radius: 0;
  font-family: JetBrains Mono, Helvetica, Arial, sans-serif;
  font-size: 15px;
  min-height: 0;
  background-color: #282c34;
  color: #61afef;
}

#workspaces button {
  padding: 0 10px;
  border-bottom: 2px solid #abb2bf;
}

#workspaces button.urgent {
  border-bottom: #e06c75;
}

#clock,
#battery,
#bluetooth,
#cpu,
#memory,
#temperature,
#backlight,
#network,
#custom-vpn,
#pulseaudio,
#custom-media,
#tray,
#mode,
#idle_inhibitor {
  padding: 0 10px;
  border-bottom: 2px solid #abb2bf;
}

#idle_inhibitor.activated {
  color: #e06c75;
}

@keyframes blink {
  to {
    color: #e06c75;
  }
}

#battery.critical:not(.charging) {
  animation-name: blink;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}
