* {
    border:        none;
    border-radius: 0;
    font-family:   Sans;
    font-size:     15px;
    box-shadow:    none;
    text-shadow:   none;
    transition-duration: 0s;
}

window {
    color:      rgba(217, 216, 216, 1);
    background: rgba(36, 39, 58, 0.85);
}


#workspaces button {
    padding:    0px 5px;
    color:      rgba(217, 216, 216, 1);
    border-radius: 5px;
    min-width: 25px;
}

#workspaces button.active {
    color: rgba(36, 39, 58, 0.85);
    background: rgba(138, 173, 244, 1);
}

#workspaces button.urgent {
    background:      rgba(238, 46, 36, 1);
}

#mode, #cpu, #memory, #network, #language, #bluetooth, #pulseaudio, #idle_inhibitor, #battery, #backlight, #customer-time, #custom-vpn {
    margin:     0px 20px 0px 20px;
}

#clock {
    margin:     0px 10px 0px 10px;
}

#tray {
    padding:    0px 5px 0px 5px;
    margin:     0px 10px 0px 20px;
    border-radius: 5px;
    background: rgba(138, 173, 244, 1);
}
