* {
    border: none;
    border-radius: 0;
    font-family: JetBrains Mono, Helvetica, Arial, sans-serif;
    font-size: 15px;
    min-height: 0;
    font-weight: bold;
}

window#waybar {
    background-color: #4e4e4e;
    border-bottom: 2px solid #ff9940; /*rgba(100, 114, 125, 0.5);*/
    color: #3199e1;
    transition-property: background-color;
    transition-duration: .5s;
}

window#waybar.hidden {
    opacity: 0.2;
}

/*
window#waybar.empty {
    background-color: #4e4e4e;
}
window#waybar.solo {
    background-color: #4e4e4e;
}
*/

window#waybar.termite {
    background-color: #4e4e4e;
}

window#waybar.chromium {
    background-color: #4e4e4e;
    border: none;
}

#workspaces button {
    padding: 0 10px;
    background-color: #4e4e4e;
    color: #3199e1;
    border-bottom: 2px solid #ff9940;
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
#workspaces button:hover {
    background: rgba(0, 0, 0, 0.2);
    box-shadow: inherit;
    border-bottom: 2px solid #ff9940;
}

#workspaces button.focused {
    background-color: #4e4e4e;
    border-bottom: 2px solid #ff9940;
    color: #3199e1;
}

#workspaces button.urgent {
    background-color: #ff9940;
}

#mode {
    background-color: #4e4e4e;
    border-bottom: 2px solid #ff9940;
}

#clock,
#battery,
#cpu,
#memory,
#temperature,
#backlight,
#network,
#custom-vpn,
#pulseaudio,
#custom-media,
#tray,
#mode,
#idle_inhibitor {
    padding: 0 10px;
    /* margin: 0 4px; */
    color: #3199e1;
    border-bottom: 2px solid #ff9940;
}

#clock {
    background-color: #4e4e4e;
}

#battery {
    background-color: #4e4e4e;
    color: #d1d1d1;
}

#battery.charging {
    color: #3199e1;
    background-color: #4e4e4e;
}

@keyframes blink {
    to {
        background-color: #4e4e4e;
        color: #d1d1d1;
    }
}

#battery.critical:not(.charging) {
    background-color: #4e4e4e;
    color: #3199e1;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

label:focus {
    background-color: #4e4e4e;
}

#cpu {
    background-color: #4e4e4e;
    color: #3199e1;
}

#memory {
    background-color: #4e4e4e;
}

#backlight {
    background-color: #4e4e4e;
}

#network {
    background-color: #4e4e4e;
}

#network.disconnected {
    background-color: #4e4e4e;
}

#custom-vpn {
    background-color: #4e4e4e;
}

#custom-vpn.down {
    background-color: #4e4e4e;
}

#pulseaudio {
    background-color: #4e4e4e;
    color: #3199e1;
}

#pulseaudio.muted {
    background-color: #4e4e4e;
    color: #3199e1;
}

#custom-media {
    background-color: #4e4e4e;
    color: #2a5c45;
    min-width: 100px;
}

#custom-media.custom-spotify {
    background-color: #4e4e4e;
}

#custom-media.custom-vlc {
    background-color: #4e4e4e;
}

#temperature {
    background-color: #4e4e4e;
}

#temperature.critical {
    background-color: #4e4e4e;
}

#tray {
    background-color: #4e4e4e;
}

#idle_inhibitor {
    background-color: #4e4e4e;
}

#idle_inhibitor.activated {
    background-color: #4e4e4e;
    color: #d65d03;
}

#mpd {
    background-color: #4e4e4e;
    color: #2a5c45;
}

#mpd.disconnected {
    background-color: #4e4e4e;
}

#mpd.stopped {
    background-color: #4e4e4e;
}

#mpd.paused {

}
